POSTGRES_PASSWORD=change-this-postgres-password
REDIS_PASSWORD=change-this-redis-password
BAIA_POWERDNS_API_KEY=change-this-powerdns-api-key
BAIA_CROWDSEC_API_KEY=change-this-crowdsec-api-key
BAIA_INITIAL_ADMIN_PASSWORD=change-this-initial-admin-password
BAIA_CLOUDFLARE_API_TOKEN=
BAIA_ACME_EMAIL=admin@example.test
